@import url('https://fonts.googleapis.com/css2?family=Kalnia:wght@200;300;400;500;600;700&display=swap');
.main{
    padding: 100px 0 30px 0 ;
    // background-color:var(--primary-clr3);
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: relative;
    height: 100vh;
    background-color: white;
    .banner{
        width: 50%;
        margin: auto;
        border-radius: 10px;
        -webkit-animation: slide-bottom 2s ease-in-out 0.5s infinite alternate-reverse backwards;
        animation: slide-bottom 2s ease-in-out 0.5s infinite alternate-reverse backwards;
    }
    a{
margin: auto;
border: 0.5px solid rgb(182, 176, 176);
padding: 10px 20px;
color: rgb(182, 176, 176) ;
border-radius: 30px;
z-index: 2;
    }
    .background{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
    }
}
.product{
    font-family: 'Kalnia', serif;
    .container{

        display: flex;
        flex-direction: column;
        gap: 30px;
        margin: auto;
    }
    h1{
        text-align: center;
        margin: 20px 0;
        font-size: 60px;
        font-weight: bolder;
    }
    .prod-cont{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 15px;
        margin: auto;
        padding: 40px 0;
        position: relative;
        .shape-one{
            position: absolute;
            right: -10px;
            top: 290px;
            width: 250px;
            -webkit-animation: slide-right 3s ease-in-out infinite alternate both;
	        animation: slide-right 3s ease-in-out infinite alternate both;

        }
        .shape-two{
            position: absolute;
            left: -20px;
            top: -160px;
            width: 250px;
            -webkit-animation: slide-br 2s ease-in-out infinite alternate-reverse both;
	        animation: slide-br 2s ease-in-out infinite alternate-reverse both;
        }
        .prod-card{
            width: 30%;
            background: rgba( 138, 112, 112, 0.05 );
            box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
            backdrop-filter: blur( 7px );
            -webkit-backdrop-filter: blur( 7px );
            border-radius: 10px;
            border: 1px solid rgba( 255, 255, 255, 0.18 );
            display: flex;
            flex-direction: column;
         
padding: 15px 0;
a{
    margin: auto;
    background-color: white;
    color: black;
    font-weight: 800;
    padding: 10px 20px;
    border-radius: 25px;
}
            img{
                max-width: 90%;
                min-width: 90%;
                margin: auto;
                border-radius: 10px;
                max-height: 150px;
                min-height: 150px;
            }
            .num{
                font-size: 25px;
                margin: 30px 60px;
                color: rgb(159, 165, 170);
                font-weight: bolder;

            }
        }
    }
}
.leaders{
    width: 100%;
    
    font-family: 'Kalnia', serif;
    position: relative;
    .circle , .shape{
        position: absolute;
        width: 350px;
    }
    .circle{
        left: 10px;
        -webkit-animation: slide-right 3s ease-in-out infinite alternate both;
        animation: slide-right 3s ease-in-out infinite alternate both;
    }
    .shape{
        -webkit-animation: slide-br 2s ease-in-out infinite alternate-reverse both;
        animation: slide-br 2s ease-in-out infinite alternate-reverse both;
        top: 220px;
    }
    h1{
margin: 10px 60px;
font-size: 60px;
border-right: 8px solid white;
padding-right: 40px;

    }
    .leads{
        display: flex;
        justify-content: center;
        width: 90%;
        margin: auto;
        flex-wrap: wrap;
        gap: 10px;
        padding:0 0 30px 0;
        .leader{
            position: relative;
            min-width: 22%;
            max-width: 22%;
            direction: ltr;
            color: rgb(219, 212, 212);
            margin-top: 50px;
            margin-bottom: 50px;
            min-height: 450px;
        .imgs{
            width: 100%;
            height: 100%;
            overflow: hidden;
            position: relative;

            .profile{
                max-width: 60%;
                min-width: 60%;
                margin: auto;

                z-index: 10;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                bottom: 0;
                min-height: 90%;
                max-height: 90%;
            }
            .back{
                position: absolute;
                z-index: 0;
                height: 100%;
                width: 100% !important;
                transition: 0.3s;
                transition-timing-function: ease;
      
            }
            &:hover .back{
                scale: 2;
            }
        
        }
            .name{
                // position: absolute;
                // bottom: -50px;
                z-index: 20;
                text-transform: capitalize;
                font-size: 24px;
                font-weight: 400;
            }
            .about{
                text-transform: capitalize;
                font-size: 12px;
                // color: rgb(179, 189, 189);
                color: var(--primary-clr2);
            }
      
        }
    }
}




/* ----------------------------------------------
 * Generated by Animista on 2023-12-23 1:17:45
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-br
 * ----------------------------------------
 */
 @-webkit-keyframes slide-br {
    0% {
      -webkit-transform: translateY(0) translateX(0);
              transform: translateY(0) translateX(0);
    }
    100% {
      -webkit-transform: translateY(100px) translateX(100px);
              transform: translateY(100px) translateX(100px);
    }
  }
  @keyframes slide-br {
    0% {
      -webkit-transform: translateY(0) translateX(0);
              transform: translateY(0) translateX(0);
    }
    100% {
      -webkit-transform: translateY(100px) translateX(100px);
              transform: translateY(100px) translateX(100px);
    }
  }
  

  /* ----------------------------------------------
 * Generated by Animista on 2023-12-23 1:20:59
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-right
 * ----------------------------------------
 */
@-webkit-keyframes slide-right {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(100px);
              transform: translateX(100px);
    }
  }
  @keyframes slide-right {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(100px);
              transform: translateX(100px);
    }
  }
  

//   dddddddddddddddddddddddddddddddddddddddddddddddd
/* ----------------------------------------------
 * Generated by Animista on 2023-12-25 16:54:40
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-bottom
 * ----------------------------------------
 */
 @-webkit-keyframes slide-bottom {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(10px);
              transform: translateY(10px);
    }
  }
  @keyframes slide-bottom {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(10px);
              transform: translateY(10px);
    }
  }
  



  .show-courses{
    position: fixed;
    width: 100%;
  
    z-index: 400;
 
    height: 100%;
    top: 0;
    left: 0;

    .courses-over{
position: absolute;
height: 100%;
width:  100%;
top: 0;
left: 0;
background-color: rgba(0, 0, 0, 0.671);
z-index: 401;
    }

    .prod-cont{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 15px;
        z-index: 402;
        margin: auto;
        padding: 40px 0;
        position: relative;
        background-color: white;
        width: 70%;
        border-radius: 20px;
        overflow-y: scroll;
        height: 90%;
        margin-top: 30px;
    
        .prod-card{
            width: 40%;
            background: rgba( 138, 112, 112, 0.05 );
            box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
            backdrop-filter: blur( 7px );
            -webkit-backdrop-filter: blur( 7px );
            border-radius: 10px;
            border: 1px solid rgba( 255, 255, 255, 0.18 );
            display: flex;
            flex-direction: column;
         
padding: 15px 0;
a{
    margin: auto;
    background-color: white;
    color: black;
    font-weight: 800;
    padding: 10px 20px;
    border-radius: 25px;
}
            img{
                max-width: 90%;
                min-width: 90%;
                max-height: 150px;
                min-height: 150px;
                margin: auto;
                border-radius: 10px;
            }
            .num{
                font-size: 20px;
                margin: 30px 60px;
                color: rgb(159, 165, 170);
                font-weight: bolder;

            }
        }
    }
  }